/* You can add global styles to this file, and also import other style files */
body.filter-open {
  overflow: hidden;
}

.f-sm {
  font-size: .875rem;
}

.f-xs {
  font-size: .75rem;
}

html,
body {
  height: 100%;
}

.body-area {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-area {
  margin-top: auto;
}
